.cart-header{
    color: white;
    padding: 2%;
    
}

.prices{
    padding-right: 10%;
}

#total-price{
    padding-right: 2.5%;
}

.columns {
    width: 500px;
    float: left;
    margin-left: 100px;
    padding: 2%;
}

.columns:after{
    content: "";
    display: block;
    clear: both;
}

#div1{
    width: 60%;
    overflow-y: scroll;
}
#div2{
    width: 25%;
}